@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body{
    font-family: 'Otomanopee One', sans-serif;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #dead28;
    padding: 10px;
   
    margin-top:50px;
    margin-left: 50px;
    visibility:hidden;
  }
  #myH1{
      padding-left:50px;
      height: 60px;
      font-size: 22px;
      
      
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width:30px;
    height:30px;
  }
  .head{
      margin-top: 10px;
  }
  img{
      width:30px;
      
      border-radius:20px;
     
     
  }
  h3{
     width:100px;
    display: inline-block;
    
     margin-left: 25px;

  }
 
  .images >img:hover{
      background-color:#ffe49c;
  }
  .images{
      padding-left:40px;
      
  }
  .images >div>img{
     margin-left: 40px;
     padding: 5px;
     
  }
  .final{
      width:300px;
      height:300px;
      position:absolute;
      background-color:red;
      top:0;
      
  }

  @media screen and (min-width: 600px) {
    h3{
       float: inline-end;
       
   
     }
  }